{% extends "layout.html" %}

{% set pageId = "page-create-service" %}

{% block title %}
    <title>Crear un service</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/create-service.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% block content %}

    {% include "partials/page-header.html"%}

    <form action="/saveservice" method="POST">

        <h1>Registro de servicios</h1>

        <fieldset>
            <legend>
                <h2>Datos profissionales</h2>
            </legend>

            <div class="field-group">
                <div class="field">
                    <label for="name">Nombre y apellido</label>
                    <input type="text" name="name" required="required">
                </div>

                <div class="field">
                    <label for="name">Imagem del servicio</label>
                    <input type="url" name="image" required="required" placeholder="https://">
                </div>
            </div>

            <div class="field">
                <label for="email">E-mail</label>
                <input type="text" name="email" required="required">
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="address">Dirección</label>
                    <input type="text" name="address" required="required">
                </div>

                <div class="field">
                    <label for="telephone">Teléfono</label>
                    <input type="number" name="telephone" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="city">Provincias</label>
                    <select name="city" id="#">
                        <option value="">Seleccione la provincia</option>
                    </select>
                </div>

                <!-- <div class="field"> <label for="city">Municipios</label> <input type="number" name="city" placeholder="Seleccione el municipio" disabled> </div> -->
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <h2>Servicios</h2>
                <span>Seleccione los servicios</span>
            </legend>

            <div class="items-grid">
                <li data-id="Limpiador">
                    <img src="/assets/clean.png" alt="Limpiezas-Image" class="img-icon">
                    <span>Limpiador</span>
                </li>

                <li data-id="Peluquero">
                    <img src="/assets/hair.png" alt="Peluquero-Image" class="img-icon">
                    <span>Peluquero</span>
                </li>

                <li data-id="Jardinero">
                    <img src="/assets/gardening.png" alt="Jardinero-Image" class="img-icon">
                    <span>Jardinero</span>
                </li>

                <li data-id="Albañil">
                    <img src="/assets/construction.png" alt="Albañil-Image" class="img-icon">
                    <span>Albañil</span>
                </li>

                <li data-id="Eletricista">
                    <img src="/assets/eletric.png" alt="Eletric-Image" class="img-icon">
                    <span>Eletricista</span>
                </li>

                <li data-id="Mecánico">
                    <img src="/assets/mecanic.png" alt="Mecánico-Image" class="img-icon">
                    <span>Mecánico</span>
                </li>
            </div>

            <input type="hidden" name="items" value="value">

        </fieldset>

        <button type="submit">Registrar servicios</button>

    </form>

    {% if saved %}
        {% include "partials/service-created.html" %}
    {% endif %}    

{% endblock content %}

{% block scripts %}
    <script src="/scripts/create-service.js"></script>
{% endblock scripts %}