{% extends "layout.html" %}

{% set bodyId = "page-home" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{# id="page-home" #}
{% block content %}

    <div class="content">

        <header>
            <img src="./assets/logo1.png" alt="Logomarca">
            <h1>Emplex</h1>
            <a href="/create-service">
                <span></span>
                Registra tus servicios
            </a>
        </header>

        <main>
            <h1>Encuentra servicios en la provincia de Extremadura</h1>
            <p>Ayudamos a las personas a encontrar los servicios
            </br>
            que necesitan para su momento</p>

        <!--<img src="./assets/background-home.svg" alt="" id="img">-->

        <a href="#">
            <span></span>
            <strong>Busque los servicios</strong>
        </a>
    </main>

</div>

{% endblock content %}

<!--Modal retirado e enviado para o modal.html-->
{% include "partials/modal.html" %}

<script src="/scripts/index.js"></script>