#modal {
    background-color: #0E0A14ef;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;

    /*display: flex;
    justify-content: center;
    align-items: center;*/
    transition: 400ms;
}

#modal.hide {
    display: none;
}

#modal .content {
    background-color: rgb(48, 33, 187);
    border: 3px solid var(--color-green);
    border-radius: 8px;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

#modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

#modal .header a {
    background-image: url("../assets/x-serv.svg");
    width: 20px;
    height: 20px;
    margin-right: 20px;
    display: flex;
    font-size: 0.01px;
}

#modal .header h1 {
    color: white;
    font-size: 36px;
    line-height: 42px;    
}

#modal form label {
    font-size: 16px;
    line-height: 16px;
    display: block;
    margin-bottom: 8px;    
}

#modal form .field {
    display: flex;
}

#modal form input {
    flex: 1;
    background-color: #f0f0f5;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6c6c80;
}

#modal form button {
    margin-top: 50px;
    display: flex;
    align-items: center;
    height: 52px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 8px;
}

#modal form button:hover {
    background-color: #119da4d0;
    cursor: pointer;
}

#modal form button p {
    color: white;
    margin-left: 28px;
    margin-right: 12px;
    font-size: 16px;
}

/*#modal form button img {
    margin-right: 8px;
}*/

#modal form #services {
    margin-top: 20px; 
    font-size: 16px;
    line-height: 16px;
    display: block;
    margin-bottom: 8px;    
}

#modal form .services {
    display: flex;
}

#modal form select {
    flex: 1;
    background-color: #f0f0f5;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6c6c80;
}