#page-search-results {
    width: 90%;
    max-width: 1100px;

    margin: 0 auto;
}

#page-search-results header{
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    align-items: center;
    justify-content: space-between;
}

#page-search-results header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-search-results header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');

    display: flex;

    width: 20px;
    height: 24px;
}


/*== MAIN ==*/
main {
    margin: 48px;
}

main h4 {
    font-weight: normal;
    font-family: Roboto, sans-serif;
    margin-bottom: 32px;
}

main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 38px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    width: 350px;
}

main .cards .card {
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    width: 350px;
    cursor: pointer;
}

main img {
    width: 348px;
    height: 200px;
    object-fit: cover; /*Não permite a imagem se esticar*/
    border-radius: 8px 8px 0 0;
}

main .card h1 {
    margin: 32px 0 20px;
    font-size: 30px;
    line-height: 41px;
    color: var(--title-color);
    text-align: center;
    text-transform: uppercase;
}

main .card h2 {
    background-color: #322153;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

main .card h3 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: var(--primary-color);
    display: flex;
    align-items: center;    
}

main .card h3 span {
    font-size: 20px;
    color: var(--title-color);
    padding-right: 10px;
}

main .card p {
    font-size: 16px;
    line-height: 26px;
    color: #6c6c80;
    display: flex;
    align-items: center;
    gap: 2px; 
    margin-top: 20px;
}

main .card p #location {
    margin-left: 50px;
}

main .card p span {
    color: var(--title-color);
}

body {
    background-color: white;
}

body::after {
    content: "";
    position: absolute;
    background: #F0F0F5;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    height: 16rem;
    z-index: -1;
}
