#page-create-service {
    width: 90%;
    max-width: 1100px;

    margin: 0 auto;
}

#page-create-service header{
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    align-items: center;
    justify-content: space-between;
}

#page-create-service header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-create-service header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');

    display: flex;

    width: 20px;
    height: 24px;
}