#page-home {
    height: 100vh;
    background: url('../assets/background-home.svg') no-repeat;
    background-position: 35vw bottom;
}



header {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}

header a span {
    

}