@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }
    
    #page-home {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;
    }
    
}